.main {
  height: 50%;
}

body {
  background-color: #393e46;
  font-family: 'Montserrat', sans-serif;
  color: #494949;
  font-size: 100%;
  line-height: 170%;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  color: #00adb5;
  font-size: 200%;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  color: #aad8d3;
  font-size: 150%;
  font-weight: lighter;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  color: #aad8d3;
  font-size: 2vw;
}
a {
  color: #0061a8;
  text-decoration: none;
}
.container {
  width: 550px;
  margin: 40px auto;
  /*text-align: center;
  border-radius: 4px;*/
}
